#responsepayu{
  .jumbotron{
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: #777777;
    border-radius: 16px !important;
  }
  .name_row{
    background-color: rgb(175, 175, 175);
    color: white;
    padding-left: inherit;
    line-height: 38px;
  }
  .row{
    p{
      background-color: rgb(245, 247, 248);;
    }
  }

}
